
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Change Password</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="PasswordChangeForm" class="form-horizontal">
              
                <div class="card-body col-sm-8">
                  <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="inputEmail3">User Name</label>
                    <div class="col-sm-4">
                        <label class="form-label" for="inputEmail3">{{userName}}</label>
                    </div>
                  
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="inputEmail3">Old Password *</label>
                    <div class="col-sm-4">
                        <input type="password" autocomplete="new-password"  formControlName="OldPassword" class="form-control" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && PasswordChangeFormControls.OldPassword.errors }"
                         />
                       <div *ngIf="submitted && PasswordChangeFormControls.OldPassword.errors" class="invalid-feedback">
                                   <div *ngIf="PasswordChangeFormControls.OldPassword.errors.required">Old Password is required</div>
                                   <!-- <div *ngIf="PasswordChangeFormControls.Password.errors.pattern && PasswordChangeFormControls.Password.dirty && PasswordChangeFormControls.Password.invalid">Not a valid password</div> -->
                               </div>
                    </div>
                  
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="inputEmail3">New Password *</label>
                    <div class="col-sm-4">
                        <input type="password" autocomplete="new-password" (keyup)="checkpassword($event)" formControlName="NewPassword" class="form-control" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && PasswordChangeFormControls.NewPassword.errors }"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" />
                       <div *ngIf="submitted && PasswordChangeFormControls.NewPassword.errors" class="invalid-feedback">
                                   <div *ngIf="PasswordChangeFormControls.NewPassword.errors.required">Password is required</div>
                                   <div *ngIf="PasswordChangeFormControls.NewPassword.errors.pattern && PasswordChangeFormControls.NewPassword.dirty && PasswordChangeFormControls.NewPassword.invalid">Not a valid password</div>
                               </div>
                    </div>
                  
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="inputEmail3">Repeat New Password *</label>
                    <div class="col-sm-4">
                        <input type="password" autocomplete="new-password" (keyup)="checkpassword($event)" formControlName="RepeatPassword" class="form-control" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && PasswordChangeFormControls.RepeatPassword.errors }"
                         />
                       <div *ngIf="submitted && PasswordChangeFormControls.RepeatPassword.errors" class="invalid-feedback">
                                   <div *ngIf="PasswordChangeFormControls.RepeatPassword.errors.required">Repeat Password is required</div>
                                   <!-- <div *ngIf="UserMasterFormControls.Password.errors.pattern && UserMasterFormControls.Password.dirty && UserMasterFormControls.Password.invalid">Not a valid password</div> -->
                               </div>
                               <div *ngIf="isMismatch" class="invalid-feedback">
                                <div >Password not matching</div>
                                <!-- <div *ngIf="UserMasterFormControls.Password.errors.pattern && UserMasterFormControls.Password.dirty && UserMasterFormControls.Password.invalid">Not a valid password</div> -->
                            </div>
                    </div>
                  
                  </div>
                 <div class="row">
                    <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
                 </div>
                </div>
                <!-- /.card-body -->
          
              <!-- /.row -->
  
              <div class="card-footer" style="align-content: center;">
                <button type="button" (click)="UpdatePassword()" [disabled]="loading || !isMismatchforButton"
                  class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
                <button type="button" (click)="ShowGrid()" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
               
              </div>
               
            </form>
  
  
          </div>
  