/*Doc-Main*/

.doc-body {
    display: grid;
    grid-template-columns: 330px auto;
    grid-template-rows: min-content auto;
    height: calc(100vh - 35px);
    width: 100%;
}

.doc-page-title {
    /*Grid-item start on the 1st column and ends before 3rd column*/
    grid-column: 1 / 3;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 900;
    background-color: white;
    border-bottom: solid 1px var(--border-color);
}

.doc-header {
   
    
    width: 100%;
 
    border: solid rgb(221, 214, 214) 1px;
    /*padding: 5px;*/
    overflow: auto;
    
}

.filter-panel {
    display: inherit;
}

.filter-panel-title {
    padding: 4px;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    border-bottom: solid var(--border-color) 1px;
    cursor: pointer;
}

.filter-panel-body {
    margin: 4px;
    border-bottom: solid var(--border-color) 1px;
}

.header-list-container {
    overflow: auto;
    /*margin-right: -4px;*/
}

.header-list {
    margin: 2px;
}

.doc-item {
    margin: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group>input:not([type='checkbox']) {
    width: 70%;
}

.form-group.btn-group {
    gap: 2px;
    justify-content: end !important;
}

.right {
    justify-content: end;
}

.doc-details {
    display: grid;
    overflow-y: auto;
}