<div class="card-header">
    <h3 class="card-title">{{screenname}}</h3>
</div>
<div class="card-body">
    <button type="button" routerLink="/picklist" class="btn btn-danger btn-sm">
        <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back
    </button>
    <button type="button" (click)="getPDF()" class="btn btn-danger btn-sm">
        <i class="fa fa-file-pdf-o " aria-hidden="true"></i> Pdf
    </button>
    
    <span class="gridsummary">Total Items : {{totalGridCount}}</span>
    <ag-grid-angular #agGrid  style="width: 100%; height: 80vh" class="ag-theme-alpine" [columnDefs]="columnDefs"
        rowSelection="multiple" rowHeight="50" [rowData]="itemLines" cellSelection="none" animateRows="true"
        defaultColDef="defaultColDef" suppressRowClickSelection="true" stopEditingWhenCellsLoseFocus=true
        (onGridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>