<div class="card-header">
    <h3 class="card-title">Physical Count</h3>
</div>
<button (click)="OnRefreshCick();" class="btn btn-info btn-sm">Refresh</button>
<button (click)="btnNewClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': !isCreateAllowed}">New</button>
<button (click)="OnEditClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': isRowUnSelected || !isEditAllowed}" [disabled]="isAuditApproved">Edit</button>
<button (click)="OnViewClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': isRowUnSelected || !isViewAllowed}">View</button>
<button (click)="OnCloseClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': isRowUnSelected || !isEditAllowed}" [disabled]="isAuditClosed">Close</button>
<button (click)="OnVerifyClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': isRowUnSelected || !isViewAllowed}">Verify</button>
<button (click)="OnAssetSummaryClickClick()" [ngClass]="{'btn btn-info btn-sm': true, 'd-none': isRowUnSelected || !isViewAllowed}">Asset Summary</button>
<span class="gridsummary">Total Items : {{totalGridCount}}</span>
<org-fat-grid [entity]="name" (totalGriditems)="totalGridItems($event)"></org-fat-grid>