<form [formGroup]="rowcountform" class="form-horizontal">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <span class="required">Label Design</span>
        </div>
        <div class="col-sm-3 col-lg-4">
            <div class="form-group mt-2">
                <select formControlName="PrintTemplateSelCode" class="form-control"
                    (change)="onChangePrintTemplate($event)"
                    [ngClass]="{ 'is-invalid': submitted && formcontrols.PrintTemplateSelCode.errors }">
                    <option [ngValue]="null">Select...</option>
                    <option *ngFor="let x of printLabelDesignCodes" value="{{ x }}">
                        {{ x }}
                    </option>
                </select>

                <div *ngIf="submitted && formcontrols.PrintTemplateSelCode.errors" class="invalid-feedback">
                    <div *ngIf="submitted && formcontrols.PrintTemplateSelCode.errors.required">
                        Label design is required</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-6">
            <button type="button" [disabled]="startprinting" class="btn btn-info mr-1" style="float: right;"
                (click)="PrintTag()">
                <i [ngClass]="startprinting  ? 'fas fa-spinner fa-spin ' : 'fa fa-print'"></i> Print</button>
        </div>
    </div>
    <div class="canvas_div_pdf">
        <div class="doc-info">
            <div class="row">
                <div class="col">
                    <div class="label">
                        Document ID:
                    </div>
                    <div class="data">
                        {{docHeader.poNumber}}
                    </div>
                </div>
                <div class="col">
                    <div class="label">
                        Document Entry:
                    </div>
                    <div class="data">
                        {{docHeader.poEntry}}
                    </div>
                </div>
                <div class="col">
                    <div class="label">
                        Created Date:
                    </div>
                    <div class="data">
                        {{docHeader.createdDate | date :'dd-MM-yyyy hh:mm:ss aa'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">
                        Card Name:
                    </div>
                    <div class="data">
                        {{docHeader.cardName}}
                    </div>
                </div>
                <div class="col">
                    <div class="label">
                        PO Date:
                    </div>
                    <div class="data">
                        {{docHeader.poDate| date :'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="col">
                    <div class="label">
                        PO Due Date:
                    </div>
                    <div class="data">
                        {{docHeader.poDueDate | date :'dd-MM-yyyy'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <span class="text-danger" *ngIf="submitted && showvalidation">{{validationmessage}}</span>
            </div>
            <div class="gridsummary">Total Items : {{detailLines.length}}</div>
        </div>
        <div>
            <ag-grid-angular #agGrid style="width: 100%; height: 30vw;" class="ag-theme-alpine"
                [columnDefs]="columnDefs" rowSelection="multiple" rowHeight="50" [rowData]="detailLines"
                (selectionChanged)="onSelectionChanged($event)" cellSelection="none" animateRows="true"
                defaultColDef="defaultColDef" suppressRowClickSelection="true" stopEditingWhenCellsLoseFocus=true>
            </ag-grid-angular>
        </div>
    </div>
</form>