<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Room Master</h3>
    </div>
    <form [formGroup]="roommasterform" class="form-horizontal">
        <div class="card-body col-sm-6">
            <div class="col">
                <div class="row form-group ">
                    <label class="col-sm-5 col-form-label">Site Code</label>
                    <div class="col-sm-6">
                        <select class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" formControlName="siteSelCode" [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.siteSelCode.errors }" name="siteSelCode">
                            <option selected="selected"></option>
                            <option *ngFor="let x of sitecodes" value="{{ x.siteID }}">
                                {{ x.siteCode }} - {{ x.siteName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-5 col-form-label" name="inputEmail3">Building Code</label>
                    <div class="col-sm-6">
                        <select class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" formControlName="buildingSelCode" [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.buildingSelCode.errors }" name="buildingSelCode">
                            <option selected="selected"></option>
                            <option *ngFor="let x of buildingcodes" value="{{ x.buildingID }}">
                                {{ x.buildingCode }} - {{ x.buildingName }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-5 col-form-label">Floor Code *</label>
                    <div class="col-sm-6">
                        <select class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" formControlName="floorSelCode" [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.floorSelCode.errors }" name="floorSelCode">
                            <option selected="selected"></option>
                            <option *ngFor="let x of floorcodes" value="{{ x.floorID }}">
                                {{ x.floorCode }} - {{ x.floorName }}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="roommasterFormControls.floorSelCode.errors" class="invalid-feedback">
                        <div *ngIf="submitted && roommasterFormControls.floorSelCode.errors.required">
                            Floor Code is required</div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-5 col-form-label">Room Code *</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="RoomCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.RoomCode.errors }" />
                        <div *ngIf="roommasterFormControls.RoomCode.errors" class="invalid-feedback">
                            <div *ngIf="submitted && roommasterFormControls.RoomCode.errors.required">
                                Room Code is required</div>
                           
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-5 col-form-label">Room Name *</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="RoomName" class="form-control" [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.RoomName.errors }"  />
                        <div *ngIf="roommasterFormControls.RoomName.errors" class="invalid-feedback">
                            <div *ngIf="submitted && roommasterFormControls.RoomName.errors.required">
                                Room Name is required</div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="align-content: center;">
            <button type="button" (click)="SaveRoomMaster()" [disabled]="loading || isbtnSaveDisabled" class="btn btn-success btn-sm">
                <i class="fa fa-save" aria-hidden="true"></i> Save
            </button>
            <button type="button" (click)="ShowGrid()" class="btn btn-danger btn-sm">
                <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back
            </button>
            <button type="button" (click)="ClearContents()" [disabled]=" isbtnClearDisabled " class="btn btn-primary btn-sm">
                <i class="fa fa-broom " aria-hidden="true "></i> Clear
            </button>
            <div *ngIf="error " style="color: red;font-weight: bold; ">{{error}}</div>
        </div>
    </form>
</div>